# Виртуальная среда
.venv/

# Настройки VS Code
.vscode/

# Логи и временные файлы Python
*.pyc
__pycache__/
*.log

# Папка с весами моделей (может быть большая)
model_weights/

# Локальные эксперименты MLFlow
mlruns/

# Личные/секретные данные
*.env

# Системные файлы (Windows/Mac)
.DS_Store
Thumbs.db
/Iris.csv
